@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
    

body {
    line-height: 1.6;
    background-color: #c5c5c5;


}

.barra {
    background-color: rgb(36, 32, 32);

    z-index: 1000; 
}

.barra ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.about {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 2rem;
    padding: 3rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nome {
    list-style: none;
    display: flex;
    justify-content: left;
    color: white;
}

.barra a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.barra a:hover {
    color: #81807a;
}

.girape {
    background-color: #99240f;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    margin: 0 auto;
}

.desc {
    text-align: center;
    padding: 2rem;
    height: 100%;
    
}

h1 {
    font-size: 30px;
    
}

h2 {
    font-size: 30px;
    text-align: center;
}


#contato {
    position: fixed;
    bottom: 6px;
    right: 20px;
    display: flex;
    flex-direction: column; /* Empilha os elementos */
    padding: 10px;
    align-items: center;
    background-color: #4f4f4f;
    opacity: 0.8;
    border-radius: 10px;
    z-index: 1000;
}

#formulario_contato {
    width: 100%; /* Garante que ocupe toda a largura do contêiner */
    padding: 20px;
    background-color: rgb(187, 187, 187);
    transition: opacity 0.5s ease; 
}

/* Ajuste para o formulário */
form {
    display: flex;
    flex-direction: column; /* Empilha os elementos do formulário */
    gap: 10px; /* Espaço entre os elementos */
}

html {
    scroll-behavior: smooth;
}

.flex{
    display: flex;
}

#produtos{
    display: flex;
    flex-direction: column; /* Empilha os elementos dentro */
    align-items: center; /* Centraliza os filhos no eixo horizontal */
    padding: 2rem;
    background-color: aliceblue;
}
.produto{
    border: 4px solid black;
    border-radius: 15px;
    max-width: auto;
    object-fit: cover;
    margin: auto 20px;
    align-items: center;
    
}
.produto img{
    max-width: 400px;
    
 }
 
.titulo{
    margin-bottom: 20px;
    font-size: 30px;
}

section{
    background-color: aliceblue;
    margin-bottom: 50px; /* Adiciona um espaço entre as sections */
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    
}

#sobre-nos{
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.sobre-nos p{
    align-items: center;
}
